body{
  background-color: #283149;
  text-align: center;
  color: white;
}
.heading{
  font-size: 5rem;
  text-shadow: 5px 5px 2px #DA0463;
  color: #DBEDF3;
}
.boxes{
  display:block;
  text-align: center;
  margin: 10% auto;
}
.boxes .p{
  margin: 0 1%;
  display: inline-block;
  color: #DA0463;
font-weight: bold;
text-shadow: 2px 2px 1px #DBEDF3;
  width: 145px;
  height: 145px;
  border: solid 0.8rem #404B69;
  border-radius: 10px;
    text-align:center;
    font-size:3rem;
    background-color: #fff;
line-height: 2;
}
.footer{
  padding-top: 0;
  font-size: 1.3rem;
  font-weight: bold;
}
.w{
  background-image:url("tom1.png");
}
.a{
  background-image: url("tom2.png");
}
.s{
  background-image: url("tom3.png");
}
.d{
  background-image: url("tom4.png");
}
.j{
  background-image: url("crash.png");
}
.k{
  background-image: url("kick.png");
}
.l{
  background-image: url("snare.png");
}
.pressed{
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
